.hamburger {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

@media (min-width: 700px) {
  .hamburger {
    display: none;
  }
}

.hamburger__line {
  width: 35px;
  height: 5px;
  background-color: #ecf0f1;
  display: block;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger--active {
  position: absolute;
  right: 15px;
  top: 18px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.hamburger--active .hamburger__line {
  width: 25px;
}

.hamburger--active .hamburger__line:nth-child(2) {
  opacity: 0;
}

.hamburger--active .hamburger__line:nth-child(1) {
  -webkit-transform: translateY(13px);
      -ms-transform: translateY(13px);
          transform: translateY(13px);
}

.hamburger--active .hamburger__line:nth-child(3) {
  -webkit-transform: translateY(-7px) rotate(90deg);
      -ms-transform: translateY(-7px) rotate(90deg);
          transform: translateY(-7px) rotate(90deg);
}

.hamburger--active::before {
  border: 5px solid #ecf0f1;
}

.hamburger::before {
  content: "";
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 45px;
  height: 45px;
  top: -2px;
  left: -11px;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

ul {
  -webkit-padding-start: 0;
  list-style: none;
}

body {
  font-family: 'Nunito', sans-serif;
  background-color: #f9f9f9;
}

a {
  text-decoration: none;
  color: inherit;
}

.b-lazy {
  -webkit-transition: opacity 500ms ease-in-out;
  -o-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out;
  max-width: 100%;
  opacity: 0;
}

.b-lazy.b-loaded {
  opacity: 1;
}

.share {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  display: table;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 50px;
          border-radius: 50px;
  overflow: hidden;
  background-color: #5bc0de;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  cursor: pointer;
}

.share:hover {
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
          transform: translateY(-2px);
  background-color: #00aedb;
}

@media (max-width: 420px) {
  .share:hover {
    background-color: #5bc0de;
  }
}

.share__wrapper {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1;
}

@media (max-width: 768px) {
  .share__wrapper {
    right: 10px;
  }
}

.share__btn {
  display: block;
  color: #f9f9f9;
  font-size: 24px;
  margin-top: 13px;
  margin-left: 13px;
}

.share__social {
  width: 100%;
  display: none;
  opacity: 0;
  visibility: hidden;
}

.share__social-item {
  list-style: none;
  font-size: 24px;
  color: #f9f9f9;
  -webkit-transform: translateY(-3px);
      -ms-transform: translateY(-3px);
          transform: translateY(-3px);
  margin-left: 28px;
}

.share__social-item:nth-child(5) {
  font-size: 35px;
  -webkit-transform: translateY(-9px);
      -ms-transform: translateY(-9px);
          transform: translateY(-9px);
}

.share__social-item:nth-child(5):hover {
  -webkit-transform: translateY(-11px);
      -ms-transform: translateY(-11px);
          transform: translateY(-11px);
}

.share__social-item:hover {
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
          transform: translateY(-5px);
  color: #fff;
}

.share--active {
  background-color: #5bc0de;
  width: 280px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  cursor: default;
}

.share--active .share__btn {
  display: none;
  opacity: 1;
  visibility: hidden;
}

.share--active .share__social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
  visibility: visible;
}

.top {
  padding: 5px 14px 5px 14px;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #5bc0de;
  opacity: 0;
  position: fixed;
  margin: 0 auto;
  bottom: 80px;
  right: 22px;
  z-index: -1;
  color: #f9f9f9;
  -webkit-transition: opacity .6s;
  -o-transition: opacity .6s;
  transition: opacity .6s;
  font-size: 35px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .top {
    right: 11px;
  }
}

.top:hover {
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  background-color: #00aedb;
  -webkit-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
          transform: translateY(-2px);
}

.top:active {
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
}

.fa-arrow-alt-circle-up {
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.3);
}

.nav {
  width: 77%;
  height: 70px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3;
}

@media (max-width: 1440px) {
  .nav {
    width: 82%;
  }
}

@media (max-width: 1200px) {
  .nav {
    width: 95%;
  }
}

.nav__logo {
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.nav__logo--hide {
  display: none;
}

.nav__logo-name {
  font-size: 27px;
  color: #f9f9f9;
  font-weight: bold;
  font-family: 'Nunito', sans-serif;
  white-space: nowrap;
  margin-top: 22px;
}

.nav__logo-image {
  height: 65px;
}

.nav__bar {
  background-color: #5bc0de;
  height: 70px;
  -webkit-box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.02), 0 3px 14px 3px rgba(0, 0, 0, 0.02), 0 4px 5px 0 rgba(0, 0, 0, 0.03);
          box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.02), 0 3px 14px 3px rgba(0, 0, 0, 0.02), 0 4px 5px 0 rgba(0, 0, 0, 0.03);
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  z-index: 3;
}

.nav__bar--open {
  height: 126px;
}

.nav__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__info--show {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
}

.nav__info--show .nav__bar {
  position: absolute;
}

.nav__info--show .nav__info-item {
  display: block;
  position: relative;
  top: 22px;
  text-align: center;
  font-size: 26px;
}

.nav__info-item {
  list-style: none;
  font-size: 19px;
  color: #f9f9f9;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding-bottom: 8px;
  margin-top: 15px;
  position: relative;
  cursor: pointer;
  margin-left: 50px;
}

@media (max-width: 1200px) {
  .nav__info-item {
    margin-left: 30px;
  }
}

@media (max-width: 700px) {
  .nav__info-item {
    display: none;
  }
}

.nav__info-item:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 3px;
  left: 50%;
  position: absolute;
  background: #f9f9f9;
  -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  -o-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.nav__info-item:hover {
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-transform: translateY(-1px);
      -ms-transform: translateY(-1px);
          transform: translateY(-1px);
  color: #fff;
}

.nav__info-item:active {
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-transform: translateY(1px);
      -ms-transform: translateY(1px);
          transform: translateY(1px);
}

.nav__info-item:hover:after {
  width: 100%;
  left: 0;
}

.search {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  width: 20%;
  text-align: center;
  height: 50px;
  -webkit-border-radius: 30.5px;
          border-radius: 30.5px;
  border: 3px solid rgba(91, 192, 222, 0.6);
  font-size: 23px;
  color: #6a7481;
  font-family: 'Nunito', sans-serif;
  outline: none;
  background-color: #fff;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

@media (max-width: 1600px) {
  .search {
    width: 22%;
  }
}

@media (max-width: 1200px) {
  .search {
    width: 25%;
  }
}

@media (max-width: 1024px) {
  .search {
    width: 27.5%;
  }
}

@media (max-width: 700px) {
  .search {
    width: 35%;
  }
}

@media (max-width: 600px) {
  .search {
    width: 314px;
    margin-top: 115px;
  }
}

.search:hover {
  border: 3px solid rgba(91, 192, 222, 0.85);
}

.search:focus {
  border: 3px solid rgba(91, 192, 222, 0.95);
  -webkit-transition: width 0.5s ease;
  -o-transition: width 0.5s ease;
  transition: width 0.5s ease;
}

@media (min-width: 475px) {
  .search:focus {
    widtH: 35%;
  }
}

@media (max-width: 1600px) and (min-width: 600px) {
  .search:focus {
    width: 38.5%;
  }
}

@media (max-width: 1200px) and (min-width: 600px) {
  .search:focus {
    width: 42%;
  }
}

@media (max-width: 1024px) and (min-width: 600px) {
  .search:focus {
    width: 44.5%;
  }
}

@media (max-width: 700px) and (min-width: 600px) {
  .search:focus {
    width: 50%;
  }
}

.search::-webkit-input-placeholder {
  color: #8190a5;
}

.search:focus::-webkit-input-placeholder {
  color: transparent;
}

.filters {
  width: 40%;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1600px) {
  .filters {
    width: 50%;
  }
}

@media (max-width: 1280px) {
  .filters {
    width: 60%;
  }
}

@media (max-width: 1024px) {
  .filters {
    width: 70%;
  }
}

@media (max-width: 700px) {
  .filters {
    width: 85%;
  }
}

@media (max-width: 600px) {
  .filters {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.categories {
  position: relative;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 314px;
  border: 2px solid rgba(91, 192, 222, 0.4);
  -webkit-border-radius: 10px;
          border-radius: 10px;
  color: #8190a5;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  text-align: center;
}

@media (max-width: 600px) {
  .categories {
    margin-top: 0;
  }
}

.categories__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
}

@media (max-width: 600px) {
  .categories__wrapper {
    width: 314px;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 475px) {
  .categories__wrapper {
    width: 314px;
  }
}

.categories:hover {
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.02), 0 3px 14px 3px rgba(0, 0, 0, 0.02), 0 4px 5px 0 rgba(0, 0, 0, 0.03);
          box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.02), 0 3px 14px 3px rgba(0, 0, 0, 0.02), 0 4px 5px 0 rgba(0, 0, 0, 0.03);
  border: 2px solid rgba(91, 192, 222, 0.95);
}

@media (min-width: 1025px) {
  .categories:hover .categories__content {
    opacity: 1;
    pointer-events: auto;
  }
}

.categories__content {
  pointer-events: none;
  display: block;
  position: absolute;
  background-color: #f9f9f9;
  padding-top: 10px;
  left: -2px;
  width: 100%;
  font-size: 21px;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
  border: 2px solid #5bc0de;
  border-top: none;
  -webkit-border-bottom-left-radius: 10px;
          border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
          border-bottom-right-radius: 10px;
  background-color: #fff;
  text-align: center;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.categories__content--show {
  opacity: 1;
  pointer-events: auto;
}

@media (max-width: 1368px) {
  .categories__content {
    font-size: 20px;
  }
}

.categories__content-item {
  padding-top: 5px;
  padding-bottom: 5px;
  border: none;
  background: none;
  cursor: pointer;
  width: 100%;
  text-align: left;
  color: #8190a5;
}

@media (max-width: 1368px) {
  .categories__content-item {
    padding-top: 3.5px;
    padding-bottom: 3.5px;
  }
}

.categories__content-item:hover {
  color: #697586;
  background-color: rgba(91, 192, 222, 0.3);
}

.categories__allowed {
  color: #58c858;
  background-color: #ffffff;
  font-size: 22px;
  font-family: 'Nunito', sans-serif;
  border: 3px solid rgba(88, 200, 88, 0.4);
  -webkit-border-radius: 10px;
          border-radius: 10px;
  padding: 0;
  height: 50px;
  margin-top: 20px;
  width: 268px;
  cursor: pointer;
  outline: none;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  margin-left: 10px;
}

@media (max-width: 600px) {
  .categories__allowed {
    margin-top: 0;
    margin-left: 0;
  }
  .categories__allowed:last-child {
    margin-left: 10px;
  }
}

@media (min-width: 1025px) {
  .categories__allowed:hover {
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-transform: translateY(-1px);
        -ms-transform: translateY(-1px);
            transform: translateY(-1px);
    color: #fff;
    background-color: #58c858;
    border: 3px solid rgba(88, 200, 88, 0.7);
  }
}

.categories__allowed:active {
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
}

.categories__allowed--checked {
  color: #fff;
  background-color: #58c858;
  border: 3px solid #58c858;
  -webkit-box-shadow: 2px 5px 10px #e4e4e4;
          box-shadow: 2px 5px 10px #e4e4e4;
}

.categories__allowed--checked:hover {
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-transform: translateY(-1px);
      -ms-transform: translateY(-1px);
          transform: translateY(-1px);
}

.categories__allowed--checked:active {
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
}

.categories__high {
  color: rgba(217, 83, 79, 0.9);
  background-color: #ffffff;
  font-size: 22px;
  font-family: 'Nunito', sans-serif;
  border: 3px solid rgba(217, 83, 79, 0.4);
  -webkit-border-radius: 10px;
          border-radius: 10px;
  padding: 0;
  height: 50px;
  margin-top: 20px;
  margin-left: 10px;
  width: 268px;
  cursor: pointer;
  outline: none;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

@media (max-width: 600px) {
  .categories__high {
    margin-top: 0;
  }
}

@media (min-width: 1024px) {
  .categories__high:hover {
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-transform: translateY(-1px);
        -ms-transform: translateY(-1px);
            transform: translateY(-1px);
    color: #fff;
    background-color: #d9534f;
    border: 3px solid rgba(217, 83, 79, 0.7);
  }
}

.categories__high:active {
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
}

.categories__high--checked {
  color: #fff;
  background-color: #d9534f;
  border: 3px solid #d9534f;
  -webkit-box-shadow: 2px 5px 10px #e4e4e4;
          box-shadow: 2px 5px 10px #e4e4e4;
}

.categories__high--checked:hover {
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-transform: translateY(-1px);
      -ms-transform: translateY(-1px);
          transform: translateY(-1px);
}

.categories__high--checked:active {
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1440px) {
  .container {
    width: 90%;
  }
}

.food {
  width: 30%;
  margin-top: 30px;
  margin-left: 3%;
  border: 2px solid rgba(91, 192, 222, 0.59);
  -webkit-border-radius: 59px;
          border-radius: 59px;
  max-height: 93px;
  color: #6a7481;
  background-color: #fff;
}

@media (max-width: 1520px) {
  .food {
    width: 29%;
  }
}

@media (max-width: 1280px) {
  .food {
    width: 45%;
  }
}

@media (max-width: 700px) {
  .food {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 420px) {
  .food {
    width: 95%;
  }
}

.food__title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.food__title-name {
  margin-top: 8px;
  margin-left: 10px;
  font-size: 25px;
  color: #515963;
  line-height: 90%;
}

@media (max-width: 1700px) {
  .food__title-name {
    font-size: 23px;
    margin-top: 10px;
  }
}

@media (max-width: 1439px) {
  .food__title-name {
    font-size: 22px;
    margin-top: 10px;
  }
}

@media (max-width: 800px) {
  .food__title-name {
    font-size: 21px;
    margin-top: 11px;
  }
}

.food__title-name--gluten {
  font-size: 18px;
}

@media (max-width: 1832px) {
  .food__title-name--gluten {
    font-size: 16px;
  }
}

@media (max-width: 1680px) {
  .food__title-name--gluten {
    font-size: 18px;
  }
}

@media (max-width: 750px) and (min-width: 700px) {
  .food__title-name--gluten {
    font-size: 16px;
  }
}

@media (max-width: 350px) {
  .food__title-name--gluten {
    font-size: 16px;
  }
}

.food__title-name--instant {
  font-size: 23px;
}

@media (max-width: 1700px) {
  .food__title-name--instant {
    font-size: 20px;
    margin-top: 5px;
  }
}

@media (max-width: 1537px) and (min-width: 700px) {
  .food__title-name--instant {
    font-size: 19px;
  }
}

@media (max-width: 430px) {
  .food__title-name--instant {
    font-size: 19px;
  }
}

.food__title-name--powder {
  font-size: 20px;
}

@media (max-width: 1325px) and (min-width: 1200px) {
  .food__title-name--powder {
    font-size: 19px;
  }
}

@media (max-width: 860px) and (min-width: 500px) {
  .food__title-name--powder {
    font-size: 18px;
  }
}

.food__title-name--lettuce {
  font-size: 20px;
}

@media (max-width: 1535px) and (min-width: 1200px) {
  .food__title-name--lettuce {
    font-size: 19px;
  }
}

@media (max-width: 900px) and (min-width: 500px) {
  .food__title-name--lettuce {
    font-size: 18px;
  }
}

@media (max-width: 430px) {
  .food__title-name--lettuce {
    font-size: 19px;
    margin-top: 5px;
  }
}

.food__title-name--coconut {
  font-size: 20px;
}

@media (max-width: 1535px) and (min-width: 1200px) {
  .food__title-name--coconut {
    font-size: 19px;
  }
}

@media (max-width: 900px) and (min-width: 500px) {
  .food__title-name--coconut {
    font-size: 18px;
  }
}

.food__title-name--smaller {
  font-size: 19px;
  margin-top: 5px;
}

.food__title-name--cuts {
  font-size: 19px;
  margin-top: 5px;
}

@media (max-width: 350px) {
  .food__title-name--cuts {
    font-size: 17px;
  }
}

@media (max-width: 350px) {
  .food__title-name--mobile-s {
    font-size: 19px;
    margin-top: 9px;
  }
}

.food__details {
  color: rgba(71, 82, 94, 0.68);
  font-size: 15px;
  margin-top: 20px;
  margin-left: 32.5%;
  padding-right: 10px;
}

@media (max-width: 1700px) {
  .food__details {
    font-size: 14px;
  }
}

@media (max-width: 800px) {
  .food__details {
    font-size: 14px;
  }
}

@media (max-width: 1680px) {
  .food__details--gluten {
    display: none;
  }
}

.food__details-wrapper {
  white-space: nowrap;
}

.food__fodmap {
  color: #f9f9f9;
  width: 27%;
  text-align: center;
  height: 20px;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  margin-right: 10%;
  margin-top: 10px;
  padding-top: 5px;
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
  min-widtH: 45px;
}

@media (max-width: 1440px) {
  .food__fodmap {
    font-size: 14px;
    height: 18px;
  }
}

.food__fodmap--low {
  background-color: #58c858;
}

.food__fodmap--high {
  background-color: #d9534f;
}

.circle, .circle--good, .circle--middle, .circle--bad, .circle--idk {
  display: inline-block;
  padding: 5px;
  margin-right: 6px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

@media (max-width: 1440px) {
  .circle, .circle--good, .circle--middle, .circle--bad, .circle--idk {
    padding: 4.2px;
    margin-bottom: 0.5px;
  }
}

.circle--good {
  background-color: rgba(88, 200, 88, 0.7);
}

.circle--middle {
  background-color: #fff68f;
}

.circle--bad {
  background-color: rgba(217, 83, 79, 0.7);
}

.circle--idk {
  background-color: grey;
}

.my-gallery {
  width: 30%;
}

.my-gallery a {
  cursor: default;
}

.my-gallery img {
  margin-top: 1px;
  margin-left: 1.5px;
  margin-bottom: 0;
  padding-bottom: 0;
  width: 100%;
  height: 91px;
  -webkit-border-top-left-radius: 50px;
          border-top-left-radius: 50px;
  -webkit-border-bottom-left-radius: 50px;
          border-bottom-left-radius: 50px;
  -webkit-border-top-right-radius: 10px;
          border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
          border-bottom-right-radius: 10px;
  cursor: url(../img/glass.png), auto;
}

.my-gallery figure {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 93px;
}

.my-gallery figcaption {
  display: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  -webkit-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 50;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #f9f9f9;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  width: 30%;
  position: relative;
  -webkit-transition: all 5s ease-in-out;
  -o-transition: all 5s ease-in-out;
  transition: all 5s ease-in-out;
  pointer-events: none;
}

@media (max-width: 700px) {
  .popup {
    width: 90%;
  }
}

.popup__close {
  position: absolute;
  top: 10px;
  right: 30px;
  -webkit-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
  font-size: 40px;
  font-weight: bold;
  text-decoration: none;
  color: #5bc0de;
  pointer-events: auto;
}

.popup__close:hover {
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  color: #00aedb;
  -webkit-transform: translateY(-1px);
      -ms-transform: translateY(-1px);
          transform: translateY(-1px);
}

.popup__title {
  margin-top: 2px;
  font-size: 30px;
  color: #6a7481;
}

.popup__content {
  color: #6a7481;
  max-height: 30%;
  font-size: 20px;
}

.free-space {
  width: 100%;
  height: 100px;
}
