$primary-color: #5bc0de;
$secondary-color: #f9f9f9;
$decor-color: #00aedb;



.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}



.hamburger .line{
  width: 35px;
  height: 5px;
  background-color: #ecf0f1;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover{
  cursor: pointer;
}

#hamburger-9{
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#hamburger-9.is-active{
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#hamburger-9:before{
  content: "";
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 45px;
  height: 45px;
  border: 5px solid transparent;
  top: calc(50% - 28px);
  left: calc(50% - 28px);
  border-radius: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#hamburger-9.is-active:before{
  border: 5px solid #ecf0f1;
}

#hamburger-9.is-active .line{
  width: 25px;
}

#hamburger-9.is-active .line:nth-child(2){
  opacity: 0;
}

#hamburger-9.is-active .line:nth-child(1){
  -webkit-transform: translateY(13px);
  -ms-transform: translateY(13px);
  -o-transform: translateY(13px);
  transform: translateY(13px);
}

#hamburger-9.is-active .line:nth-child(3){
  -webkit-transform: translateY(-13px) rotate(90deg);
  -ms-transform: translateY(-13px) rotate(90deg);
  -o-transform: translateY(-13px) rotate(90deg);
  transform: translateY(-13px) rotate(90deg);
}






ul{
  -webkit-padding-start: 0;
}

body{
  font-family: 'Nunito', sans-serif;
  background-color: #f9f9f9;
}

a {
  text-decoration: none;
  color: inherit;
}

.b-lazy {
  transition: opacity 500ms ease-in-out;
  max-width: 100%;
  opacity: 0;
}

.b-lazy.b-loaded {
  opacity: 1;
}
.share{
  width: 50px;
  height: 50px;
  margin: 0 auto;
  display: table;
  box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.3);
  border-radius: 50px;
  overflow: hidden;
  background-color: #5bc0de;
  transition: all 0.25s ease;
  cursor: pointer;
  &:hover{
    transition: all 0.4s ease;
    transform: translateY(-2px);
    background-color:#00aedb;
    @media (max-width: 420px){
      background-color: #5bc0de;
    }
  }
  &__wrapper{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1;
    @media (max-width: 768px) {
      right: 10px;
    }
  }
  &__btn{
    display: block;
    color: #f9f9f9;
    font-size: 24px;
    margin-top: 13px;
    margin-left: 13px;  
  }
  &__social{
    width: 100%;
    display: none;
    opacity: 0;
    visibility: hidden;
    &-item{
      list-style: none;
      font-size: 24px;
      color: #f9f9f9;
      transform: translateY(-3px);
      margin-left: 28px;
      &:nth-child(5){
        font-size: 35px;
        transform: translateY(-9px);
        &:hover{
          transform: translateY(-11px);
        }
      }
      &:hover{
        transition: all 0.25s ease;
        transform: translateY(-5px);
        color: #fff;
      }

    }
  }
  &--active{
    background-color: #5bc0de;
    width: 280px;
    display: flex;
    cursor: default;
    .share__btn{
      display: none;
      opacity: 1;
      visibility: hidden;
    }
    .share__social{
      display: flex;
      opacity: 1;
      visibility: visible;
    }
  }
}

.top {
  padding: 5px 14px 5px 14px;
  box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.3);
  border-radius: 50%;
  background-color: #5bc0de;
  opacity: 0;
  position: fixed;
  margin: 0 auto;
  bottom: 80px;
  right: 22px;
  z-index: -1;
  color: #f9f9f9;
  transition: opacity .6s;
  font-size: 35px;
  cursor: pointer;
  @media (max-width: 768px) {
    right: 11px;
  }

  &:hover{
    transition: all 0.25s ease-in-out;
    background-color:#00aedb;
    transform: translateY(-2px);
  }
  &:active {
    transform: translateY(0px);
  }
}

.fa-arrow-alt-circle-up{
  box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.3);
}

.nav{
  width: 77%;
  height: 70px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
  @media (max-width: 1440px){
    width: 82%;
  }
  @media (max-width: 1200px){
    width: 95%;
  }
  &__bar{
    background-color:#5bc0de;//#5bc0de;
    height: 70px;
    box-shadow: 0 8px 10px 1px rgba(0,0,0,.02), 0 3px 14px 3px rgba(0,0,0,.02), 0 4px 5px 0 rgba(0,0,0,.03);
    position: fixed; 
    top: 0; 
    width: 100%; 
    transition: 0.5s;
    z-index: 3;
  }
  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-button{
      font-size: 20px;
      display: none;
      outline: none;
      width: 20px;
      &--open{
        position: absolute;
        right: 15px;
        top: 0;
      }
      @media (max-width: 700px){
        display: block ;
        width: 15px;
      }
    }
    &-item {
      list-style: none;
      font-size: 19px;
      color: #f9f9f9;//#5bc0de
      font-weight: bold;
      text-decoration: none;
      letter-spacing: 0.15em;
      display: inline-block;
      padding-bottom: 8px;
      margin-top: 15px;
      position: relative;
      cursor: pointer;
      margin-left: 50px;
      @media (max-width: 1200px){
        margin-left: 30px;
      }
      @media (max-width: 700px){
        display: none;
      }
      &--show{
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        li{
          display: block;
          padding-bottom: 15px;
          background-color: #fbfcfd;
        }
          &:hover{
            color: #000;
            text-decoration: underline;
          }
          &:last-child{
            padding-bottom: 0;
          }
      }
      &:after {    //underline
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 3px;
        left: 50%;
        position: absolute;
        background: #f9f9f9;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
      }
      &:hover {
        transition: all 0.25s ease;
        transform: translateY(-1px);
        color: #fff;
      }
      &:active {
        transition: all 0.25s ease;
        transform: translateY(1px);
      }
      &:hover:after { 
        width: 100%; 
        left: 0; 
      }
    }
  }
  &__logo{
    cursor: pointer;
    display: flex;
    &-name{
      font-size: 27px;
      color: #f9f9f9;
      font-weight: bold;
      font-family: 'Nunito', sans-serif;
      white-space: nowrap;
      margin-top: 22px;
    }
    &-image{
      height: 65px;
    }
  }
}

.search {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  width: 20%;
  text-align: center;
  height: 50px;
  border-radius: 30.5px;
  border: 3px solid rgba(91, 192, 222, .6);
  font-size: 23px;
  color: #6a7481;
  font-family: 'Nunito', sans-serif;
  outline: none;
  background-color: #fff;
  transition: all 0.25s ease;
  @media (max-width: 1600px){
    width: 22%;
  }
  @media (max-width: 1200px){
    width: 25%;
  }
  @media (max-width: 1024px){
    width: 27.5%;
  }
  @media (max-width: 700px){
    width: 35%;
  }
  @media (max-width: 600px){
    width: 314px;
    margin-top: 115px;
  }
  &:hover{
    border: 3px solid rgba(91, 192, 222, .85);
  }
  &:focus{
    border: 3px solid rgba(91, 192, 222, .95);
    transition: width 0.5s ease;
    @media (min-width: 475px){
      widtH: 35%;
    }
    @media (max-width: 1600px) and (min-width: 600px){
      width: 38.5%;
    }
    @media (max-width: 1200px) and (min-width: 600px){
      width: 42%;
    }
    @media (max-width: 1024px) and (min-width: 600px){
      width: 44.5%;
    }
    @media (max-width: 700px) and (min-width: 600px) {
      width: 50%;
    }
  }
  &::-webkit-input-placeholder{
    color: #8190a5;
  }
  &:focus::-webkit-input-placeholder { 
    color:transparent; 
  }
}

.filters {
  width: 40%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  @media (max-width: 1600px){
    width: 50%;
  }
  @media (max-width: 1280px){
    width: 60%;
  }
  @media (max-width: 1024px){
    width: 70%;
  }
  @media (max-width: 700px){
    width: 85%;
  }
  @media (max-width: 600px){
    flex-direction: column;
    align-items: center;
  }
}

.categories {
  position: relative;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 314px;
  border: 2px solid rgba(91, 192, 222, .4);
  border-radius: 10px;
  color: #8190a5;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  text-align: center;
  @media (max-width: 600px){
    margin-top: 0;
  }
  &__wrapper{
    display: flex;
    width: 60%;
    @media (max-width: 600px){
      width: 314px;
      align-items: center;
    }
    @media (max-width: 475px){
      width: 314px;
    }
  }
  &:hover{
    transition: all 0.25s ease;
    box-shadow: 0 8px 10px 1px rgba(0,0,0,.02), 0 3px 14px 3px rgba(0,0,0,.02), 0 4px 5px 0 rgba(0,0,0,.03);
    border: 2px solid rgba(91, 192, 222, .95);
    & .categories__content{
      @media (min-width: 1025px){
        opacity: 1;
        pointer-events: auto;
      }
    }
  }
  &__content{
    pointer-events: none;
    display: block;
    position: absolute;
    background-color: #f9f9f9;
    padding-top: 10px;
    left: -2px;
    width: 100%;
    font-size: 21px;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
    border: 2px solid rgba(91, 192, 222, 1);
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #fff;
    text-align: center;
    opacity: 0;
    transition: all 0.3s ease;
    &--show{
      opacity: 1;
      pointer-events: auto;
    }
    @media (max-width: 1368px){
      font-size: 20px;
    }
    &-item{
      padding-top: 5px;
      padding-bottom: 5px;
      border: none;
      background: none;
      cursor: pointer;
      width: 100%;
      text-align: left;
      color: #8190a5;
      @media (max-width: 1368px){
        padding-top: 3.5px;
        padding-bottom: 3.5px;
      }
      &:hover{
        color: #697586;
        background-color: rgba(91, 192, 222, 0.3);
      }
    }
  }
  &__allowed{
    color: #58c858;
    background-color: #ffffff;
    font-size: 22px;
    font-family: 'Nunito', sans-serif;
    border: 3px solid rgba(88, 200, 88, .4);
    border-radius: 10px;
    padding: 0;
    height: 50px;
    margin-top: 20px;
    width: 268px;
    cursor: pointer;
    outline: none;
    transition: all 0.25s ease;
    margin-left: 10px;
    @media (max-width: 600px){
      margin-top: 0;
      margin-left: 0;
      &:last-child{
        margin-left: 10px;
      }
    }
    &:hover{
      @media (min-width: 1025px){  //disabled hover for tablets/phones
        transition: all 0.25s ease;
        transform: translateY(-1px);
        color: #fff;
        background-color: #58c858;
        border: 3px solid rgba(88, 200, 88, .7); 
      }
    }
    &:active{
      transform: translateY(0px);
    }
    &--checked{
      color: #fff;
      background-color: #58c858;
      border: 3px solid #58c858;
      box-shadow: 2px 5px 10px #e4e4e4;
      &:hover{
        transition: all 0.25s ease;
        transform: translateY(-1px);
      }
      &:active{
        transform: translateY(0px);
      }
    }
  }
  &__high{
    color: rgba(217, 83, 79, .9);
    background-color: #ffffff;
    font-size: 22px;
    font-family: 'Nunito', sans-serif;
    border: 3px solid rgba(217, 83, 79, .4);
    border-radius: 10px;
    padding: 0;
    height: 50px;
    margin-top: 20px;
    margin-left: 10px;
    width: 268px;
    cursor: pointer;
    outline: none;
    transition: all 0.25s ease;
    @media (max-width: 600px){
      margin-top: 0;
    }
    &:hover{
      @media (min-width: 1024px){  //disabled hover for tablets/phones
        transition: all 0.25s ease;
        transform: translateY(-1px);
        color: #fff;
        background-color: #d9534f;
        border: 3px solid rgba(217, 83, 79, .7); 
      }
    }
    &:active{
      transform: translateY(0px);
    }
    &--checked{
      color: #fff;
      background-color: #d9534f;
      border: 3px solid #d9534f;
      box-shadow: 2px 5px 10px #e4e4e4;
      &:hover{
        transition: all 0.25s ease;
        transform: translateY(-1px);
      }
      &:active{
        transform: translateY(0px);
      }
    }
  }
}



.container {
	display: flex;
	flex-wrap: wrap;
	width: 80%;
	margin-left: auto;
  margin-right: auto;
  @media (max-width: 1440px){
    width: 90%;
  }
}
.food {
  width: 30%;
	margin-top: 30px;
  margin-left: 3%;
  border: 2px solid rgba(91, 192, 222, 0.59);
  border-radius: 59px;
  max-height: 93px;
  color: #6a7481;
  background-color: #fff;
  @media (max-width: 1520px){
    width: 29%;
  }
  @media (max-width: 1280px){
    width: 45%;
  }
  @media (max-width: 700px){
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  @media (max-width: 420px){
    width: 95%;
  }
	&__title{
		display: flex;
    justify-content: space-between;
    &-name {
      margin-top: 8px;
      margin-left: 10px;
      font-size: 25px;
      color: #515963;
      line-height: 90%;
      @media (max-width: 1700px){
        font-size: 23px;
        margin-top: 10px;
      }
      @media (max-width: 1439px){
        font-size: 22px;
        margin-top: 10px;
      }
      @media (max-width: 800px){
        font-size: 21px;
        margin-top: 11px;
      }
      &--gluten{
        font-size: 18px;
        @media(max-width: 1832px){
          font-size: 16px;
        }
        @media(max-width: 1680px){
          font-size: 18px;
        }
        @media(max-width: 750px) and (min-width: 700px) {
          font-size: 16px;
        }
        @media(max-width: 350px){
          font-size: 16px;
        }
      }
      &--instant{
        font-size: 23px;
        @media(max-width: 1700px){
          font-size: 20px;
          margin-top: 5px;
        }
        @media(max-width: 1537px) and (min-width: 700px){
          font-size: 19px;
        }
        @media(max-width: 430px){
          font-size: 19px;
        }
      }
      &--powder{
        font-size: 20px;
        @media(max-width: 1325px) and (min-width: 1200px){
          font-size: 19px;
        }
        @media(max-width: 860px) and (min-width: 500px){
          font-size: 18px;
        }
      }
      &--lettuce{
        font-size: 20px;
        @media(max-width: 1535px) and (min-width: 1200px){
          font-size: 19px;
        }
        @media(max-width: 900px) and (min-width: 500px){
          font-size: 18px;
        }
        @media(max-width: 430px){
          font-size: 19px;
          margin-top: 5px;
        }
      }
      &--coconut{
        font-size: 20px;
        @media(max-width: 1535px) and (min-width: 1200px){
          font-size: 19px;
        }
        @media(max-width: 900px) and (min-width: 500px){
          font-size: 18px;
        }
      }
      &--smaller{
        font-size: 19px;
        margin-top: 5px;
      }
      &--cuts{
        font-size: 19px;
        margin-top: 5px;
        @media (max-width:350px){
          font-size: 17px;
        }
      }
      &--mobile-s{
        @media(max-width: 350px){
          font-size: 19px;
          margin-top: 9px;
        }
      }
      }
    }
  &__details {
    color: rgba(71, 82, 94, .68);
    font-size: 15px;
    margin-top: 20px;
    margin-left: 32.5%;
    padding-right: 10px;
    @media (max-width: 1700px){
      font-size: 14px;
    }
    @media (max-width: 800px){
      font-size: 14px;
    }
    &--gluten{
      @media(max-width: 1680px){
        display: none;
      }
    }
    &-wrapper{
      white-space: nowrap;
    }
  }
  &__fodmap {
    color: #f9f9f9;
    width: 27%;
    text-align: center;
    height: 20px;
    border-radius: 15px;
    margin-right: 10%;
    margin-top: 10px;
    padding-top: 5px;
    align-self: flex-start;
    min-widtH: 45px;
    @media (max-width: 1440px){
      font-size: 14px;
      height: 18px;
    }
    &--low{
      background-color: #58c858;
    }
    &--high {
      background-color: #d9534f;
    }
  }
}

.circle {
  display: inline-block;
  padding: 5px;
  margin-right: 6px;
  border-radius: 50%;
  @media (max-width: 1440px){
    padding: 4.2px;
    margin-bottom: 0.5px;
  }
  &--good {
    @extend .circle;
    background-color: rgba(88, 200, 88, .7);
  }
  &--middle {
    @extend .circle;
    background-color: rgb(255,246,143);
  }
  &--bad {
    @extend .circle;
    background-color: rgba(217, 83, 79, .7); 
  }
  &--idk {
    @extend .circle;
    background-color: grey; 
  }
}


.my-gallery {
  width: 30%;

}
.my-gallery img {
  margin-top: 1px;
  margin-left: 1.5px;
  margin-bottom: 0;
  padding-bottom: 0;
  width: 100%;
  height: 91px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.my-gallery figure {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 93px;
}
.my-gallery figcaption {
  display: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.free-space {
  width: 100%;
  height: 100px;
}