@import "_header-animation";

body{
  font-family: 'Roboto', sans-serif;
}

nav {
  background-color:#5bc0de;
  height: 70px;
  box-shadow: 0 8px 10px 1px rgba(0,0,0,.02), 0 3px 14px 3px rgba(0,0,0,.02), 0 4px 5px 0 rgba(0,0,0,.03);}
input{
  &:hover{
    box-shadow: inset 0 0 0 3px #fff,
		0 0 0 4px #fff,
		3px -3px 30px #1beabd, 
		-3px 3px 30px #10abff;
  }
}
  



.nav{
  width: 95%;
  height: 70px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__add{
    color: #f9f9f9;
    background-color: #1DA1B7;
    font-weight: bold;
    border-radius: 26px;
    width: 220px;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    border: none;
    cursor: pointer;
    outline: none;
  }
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  font-size: 19px;
  color: #f9f9f9;
  font-weight: bold;
}
li {
  margin-right: 40px;
}

.logo{
  display: block;
  &__name{
    font-size: 27px;
    color: #f9f9f9;
    font-weight: bold;
    
    
  }
}
.food {
	width: 30%;
	margin-top: 30px;
  margin-left: 30px;
  border: 1px solid grey;
	&__title{
		display: flex;
    justify-content: space-between;
    &-name {
      font-size: 25px;
    }
  }
  &__details {
    font-size: 12px;

  }
  &__fodmap {
    color: grey;
    &--low{
      background-color: green;
    }
    &--high {
      background-color: red;
    }
  }
  
}
.search {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 300px;
}

.circle {
  display: inline-block;
  padding: 4px;
  margin-right: 8px;
  border-radius: 50%;
  &__good {
    @extend .circle;
    background-color: green;
  }
  &__middle {
    @extend .circle;
    background-color: yellow;
  }
  &__bad {
    @extend .circle;
    background-color: red; 
  }
  &__idk {
    @extend .circle;
    background-color: grey; 
  }

}

#js-container {
	display: flex;
	flex-wrap: wrap;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}



.filters {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.categories {
  position: relative;
  display: inline-block;
  min-width: 100px;
  &__content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    border: 1px solid #5ac2bb;
    &-item{
      padding-top: 5px;
      padding-bottom: 5px;
      border: none;
      background: none;
      cursor: pointer;
      width: 100%;
      text-align: left;
      &:hover{
        background-color: rgba(91, 192, 222, 0.3);
        }
    }
  }
  &__allowed{
    color: grey;
  }
}

.categories:hover .categories__content {
  display: block;
}

//todo add background change when hover for dropdown items

.my-gallery {
  width: 30%;
  float: left;
}
.my-gallery img {
  width: 100%;
  height: auto;
}
.my-gallery figure {
  display: block;
  float: left;
  margin: 0 5px 5px 0;
  width: 100%;
}
.my-gallery figcaption {
  display: none;
}